<div class="head">
  <header>Cryber surcity</header>
  <nav>
    <a href="">home</a>
    <a href="">aboutus</a>
    <a href="">contactus</a>
  </nav>
</div>

<div class="wm">
  <p id="Welcome">Welcome to CyberSafe!</p>
  <p id="wt">This website is all about helping you stay safe online. Whether you're just learning about cybersecurity or looking for simple tips to protect your digital life, you're in the right place.
Every day, people face online threats like scams, viruses, and data theft — but the good news is: you can protect yourself. And we're here to show you how.</p>
  <p id="A">On this site, you'll find:</p>
  <ul id="fl">
    <li>Easy-to-understand guides</li>
    <li>Real-world examples of online threats</li>
    <li>Simple steps you can take to stay secure</li>
    <li>Tool ans resoucer to help you learn more</li>
  </ul>
</div>

<div class="first">
  <p id="wc">What Is Cybersecurity?</p>
  <p id="wct">Cybersecurity means protecting your devices, online accounts, and personal information from hackers, scams, and digital threats.

In simple words — just like you lock your door to stay safe at home, cybersecurity helps you stay safe online.

As we use the internet for more things — shopping, studying, working, and socializing — it's more important than ever to know how to protect yourself and your data.</p>
</div>

<div class="second">
  <p id="wcm">Why Does Cybersecurity Matter?</p>
  <p id="B">Every day:</p>
  <ul id="sl">
    <li>Personal info is stolen</li>
    <li>Fake websites trick people</li>
    <li>Hackers break into accounts</li>
    <li>Viruses damage computers and phones</li>
  </ul>
  <p id="new">But here's the good news: most online threats can be avoided if you know what to look for and follow some basic safety tips — and that's what this site will teach you.</p>
</div>

<div class="third">
  <p id="cct">Common Cyber Threats</p>
  <ol tl>
    <li>Phishing</li>
    <p>These are fake emails, texts, or websites that try to trick you into giving away personal information like passwords or bank details.
Tip: If something looks suspicious, don't click it!</p>
    <li>Malware</li>
    <p>Short for “malicious software.” These programs can infect your device, steal your data, or spy on what you're doing.
Examples: Viruses, spyware, trojans.</p>
    <li>Ransomware</li>
    <p>This type of malware locks your files or device and demands payment to unlock them. It's like digital kidnapping!
Tip: Never pay — and always back up your files.</p>
    <li>Password Attacks</li>
    <p>Hackers use tools to guess or steal your passwords to break into your accounts.
Tip: Use long, unique passwords — and don't reuse them.</p>
    <li>Fake Websites & Apps</li>
    <p>Some websites or apps are designed to look real but are actually fake — made to steal your information.
Tip: Double-check web addresses and only download apps from official stores.</p>
  </ol>
</div>
<router-outlet />
